body{
font-size:40px;
padding:10px; margin:0 30px;

}

p{

font-family: Papyrus;
}

h1,h2,h3,h4{
font-family:Cursive;
}

a{
border:solid 1px black; 
border-radius:5px; 
padding: 10px; 
margin: 10px; 
font-family:Cursive;
color: crimson;
filter: grayscale(50%);
}
